numpy==2.0.2
qiskit==2.5.2
qiskit-aer==0.17.2
PennyLane==0.45.1
cirq-core==1.5.0
tensorflow==2.18.1
tf-keras==2.18.0
tensorflow-quantum==0.7.6
pyparsing==3.2.5
matplotlib==3.10.6
pandas==2.2.2
pytest==8.4.2
nbformat==5.10.4
nbclient==0.10.2
psutil==7.0.0
